#test {
    color: green;
    text-align-last: center;
    
}
body {
    background-image: url(https://www.publicdomainpictures.net/pictures/200000/nahled/plain-blue-background.jpg)
       
}
.div1 {
    text-align: center;
    color: antiquewhite;
  
}